#simplefeedbackform-button {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  text-align: center;
  display: inline-block;
  position: fixed;
  cursor: pointer;
  z-index: 2000;

  img {
    height: 70%;
    margin-top: 6px;
  }
}

#simplefeedbackform-form {
  font-family: Verdana, Geneva, sans-serif;
  display: none;
  z-index: 2000;
  position: fixed;
  max-width: 250px;
  top: 15px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background: #b1e8ff;
  border-radius: 5px;
  padding: 25px 25px 25px 25px;

  #simplefeedbackform-success {
    display: none;
    font-size: 20px;
    color: white;
    font-weight: bold;
  }

  #simplefeedbackform-close {
    color: white;
    position: absolute;
    font-weight: bold;
    font-size: 27px;
    cursor: pointer;
    border-radius: 100px;
    width: 27px;
    height: 27px;
    text-align: center;
    top: -10px;
    right: -10px;
    line-height: 25px;

    span {
      margin-top: -1px;
    }
  }

  .simplefeedbackform-input {
    width: 100%;
    border-radius: 2px;
    padding: 6px 8px;
    font-size: 15px;
    margin-bottom: 10px;
    border: 0;
    outline: 0;
  }

  .simplefeedbackform-error {
    color: #ffffff;
    margin-top: -5px;
    margin-bottom: 10px;
  }

  button {
    padding:8px 15px;
    color: white;
    background: #5bcf4d;
    border-radius: 2px;
    border: 0;
    outline: 0;

    cursor: pointer;
    font-weight: bold;

    .loader,
    .loader:after {
      border-radius: 50%;
      width: 1px;
      height: 1px;
    }

    .loader {
      display: none;
      margin-left: 8px;
      font-size: 5px;
      position: relative;
      text-indent: -9999em;
      border-top: 1.1em solid rgba(255, 255, 255, 0.2);
      border-right: 1.1em solid rgba(255, 255, 255, 0.2);
      border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
      border-left: 1.1em solid #ffffff;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-animation: load8 1.1s infinite linear;
      animation: load8 1.1s infinite linear;
    }

    &.sff-busy {
      .loader {
        display: inline-block;
      }
    }

    @-webkit-keyframes load8 {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    @keyframes load8 {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

  }
}