* {
  font-family: Ubuntu, sans-serif;
}

#logo {
  margin-top: -3px;

  @media(max-width: 360px) {
    height: 24px;
  }
}

footer {
  .content {
    text-align: center;
    padding: 20px 8px;
  }
}

.card-header {
  h1 {
    font-size: 1rem;
    margin: 0;
  }
}

.privacy-policy {
  h1 {
    font-size: 25px;
  }
}

.sign-up-link-wrapper {
  margin-top: 15px;
}

.centered {
  text-align: center;
}

.navbar-toggler {
  @media(max-width: 412px) {
    margin-top: 10px;
  }
}

#plans-note {
  margin-top: 15px;
  width: 100%;
  margin-bottom: 0;
}

.field-notes {
  .field-note {
    margin-top: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.zero-margin-bottom {
  margin-bottom: 0;
}

.margin-bottom-10px {
  margin-bottom: 10px;
}

#cookies-alert {
  display: none;
}

.cancel-subscription-form {
  display: inline-block;
}

.datatable-wrapper {
  .dataTables_scrollHeadInner, table {
    min-width: 100%;
  }
}

.yes-no-inputs {
  padding-top: 8px;

  label {
    line-height: 1.3rem;
  }
}

.privacy-policy-link-wrapper {
  margin-top: 10px;
}

.captcha-image {
  margin-bottom: 8px;
}

.is-invalid {
  .invalid-feedback {
    display: block;
  }
}

.max-100 {
  max-width: 100%;
}

.mrgb-20 {
  margin-bottom: 20px;
}

.datatable-wrapper {
  overflow-x: auto;
}