.plan {
  margin: 0 auto 15px 0;

  @media(max-width: 420px) {
    width: 100%;
    margin-bottom: 15px;
  }

  .title {
    background: $intenseYellow;
    color: white;
    font-size: 26px;
    text-align: center;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .content {
    padding: 15px 0;
    border-left: 1px solid $lightGrey;
    border-right: 1px solid $lightGrey;

    .line {
      text-align: center;
      padding: 5px;
      font-size: 18px;
    }
  }

  .action a {
    display: block;
    background: $green;
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 4px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    &:hover {
      text-decoration: none;
    }
  }
}