.message-wrapper {
  max-height: 120px;
  overflow-y: scroll;
}

.dataTables_paginate {
  margin-top: 10px !important;
}

.dataTables_filter {
  input[type=search] {
    @media(max-width: 360px) {
      max-width: 170px;
    }
  }
}